.btn {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

li[data-state='new'] {
    color: green;
}

li[data-state='pending'] {
    color: blue;
}

li[data-state='canceled'] {
    color: red;
}

li[data-state='closed'] {
    color: grey;
}
